* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.main {
  width: 100%;
  color: #fff;
  justify-content: center;
  align-items: center;
}

.contenedor-general {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-table {
  display: flex;
  margin-left: 15px;
  align-items: start;
  justify-content: start;
  margin-bottom: 25px;
}

.table {
  border-spacing: 2px;
  border-collapse: collapse;
  width: 70%;
  margin: 10px auto;
  border-radius: 20px;
  font-family: sans-serif;
  box-shadow: -12px -14px 23px 3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -12px -14px 23px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -12px -14px 23px 3px rgba(0, 0, 0, 0.75);



}

.caption {
  font-size: 40px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: -20px;
  padding: 30px;

}

.thead {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  margin-left: -2px;
  text-decoration: none;
  background-color: steelblue;
  font-size: 30px;
  box-shadow: -9px 10px 25px 11px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -9px 10px 25px 11px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -9px 10px 25px 11px rgba(0, 0, 0, 0.75);
}

tbody tr:hover {
  background-color: rgb(160, 222, 225);

}


th {
  font-size: 25px;
  margin-bottom: 25px;
  text-align: center;
  padding: 5px;
}



tr {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 2px solid #fff;
  font-size: 16px;
  padding: 5px;
}

td {
  width: 100%;
  height: 100%;
  margin: 20px;
  font-weight: bold;
  font-size: 18px;
}

td:nth-child(n + 3),
th:nth-child(n + 3) {
  text-align: center;
}

tr:nth-child(even) {
  background-color: rgba(90, 173, 221, 0.795);
}

.tfooter {
  width: 100%;
  height: 100%;
  padding-left: 15px;
  margin-left: -5px;
  letter-spacing: 1px;
  font-size: 14px;
  background-color: steelblue;


}

.section-form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;

  padding: 20px;



}

.container-form {
  margin-top: 70px;
  width: 100%;


  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;




}

.titulo-formulario {
  font-size: 3.2rem;
  margin: auto;

  font-weight: bold;
  -webkit-text-stroke: 1px;





}

.form-1 {
  width: 100%;

  height: 760px;
  margin-top: 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-top: 20px;
  box-shadow: -9px 10px 25px 11px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -9px 10px 25px 11px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -9px 10px 25px 11px rgba(0, 0, 0, 0.75);



}

.contenido-form {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  gap: 10px;
}

.select {
  width: 90%;
  height: 40px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  text-align: center;

}

.input {
  width: 100%;
  height: 40px;
  text-align: center;
  border: none;
  border-radius: 20px;
  text-align: center;
  font-size: 16px;
}



.contenido-form-radio {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  position: relative;
  left: 5px;
  bottom: 15px;

}



.radio {
  width: 80%;
  height: 20px;
  padding: 10px;
  margin-top: 10px;
}


.submit-12 {
  padding: 10px 60px;
  border: none;
  border-radius: 20px;
  margin-left: 10px;
  text-align: center;
  background-color: #fff;
}

.form-h3 {
  width: 48%;
  height: 100%;
  margin-top: -9px;
  margin-left: 30px;

}

.input-checkbox {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  font-size: 18px;

}

.input:focus {
  background-color: rgb(160, 222, 225);
}

.select:focus {
  background-color: rgb(160, 222, 225);

}

.form-parragraf {

  font-size: 18px;
  margin-top: -20px;
  text-align: center;
  margin-left: 20px;
}

.label-checkbox {
  font-size: 18px;
  padding: 10px;
  margin-left: 70px;

}

.contenido-form-checkbox {
  position: relative;
  bottom: 7px;
}

@media(max-width:375px) {

  .main {
    width: 90%;
    flex-direction: column;
    align-items: center;
  }

  .contenedor-general {
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: unset;
    margin-left: -50px;

  }

  th,
  td,
  tr,
  .thead .tfooter .tbody {
    width: 100%;
    font-size: 13px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 1px;
    padding: unset;
    max-width: 320px;
    min-height: 60px;

  }

  .section-table {
    width: 5px;

    max-width: 5px;



  }

  .table {
    width: 100%;
    margin-left: -105px;
    padding: 10px;
    min-height: 600px;

  }

  .caption {
    font-size: 1rem;
    margin-left: -20px;


  }

  .container-form {

    width: 90%;



  }

  .input-checkbox {
    width: 20px;
    height: 20px;

    font-size: 18px;

  }

  .form-1 {
    height: 850px;
  }

  .contenido-form-checkbox {
    position: relative;
    bottom: 7px;
    width: 100%;
  
    padding: 30px;


  }

  .label-checkbox {
    margin-left: -20px;
  }

}

@media(max-width:768px) {

  .main {

    flex-direction: column;
    align-items: center;
  }

  .contenedor-general {
    flex-direction: column;
    align-items: center;
    gap: 2px
  }

  .thead, .tfooter, .tbody {
    width: 100%;
    height: 100%;
    justify-content: center;
    overflow: hidden;
  }  

  .thead {
    margin: auto;
  }

  .caption {
    font-size: 3rem;
  }

  .table {
    width: 100%;


  }

  .section-table {
    width: 100%;
    margin-left: -10px;


  }

  .section-form {
    margin-left: 50px;
  }

  .container-form {
    margin-bottom: 50px;
  }

  .form-1 {
    margin-left: 50px;
  }

}